{% extends 'blog/base.html' %}
{% load mediapath %}
{% block content %}
<div class="cool">
    <div class="card">
        <div class="card-body">
            <img src="{% mediapath object.preview %}" style="max-width: 20%;" alt="Image">
            <table class="table">
                <tr>
                    <td>Заголовок</td>
                    <td>{{ object.title }}</td>
                </tr>
                <tr>
                    <td>Содержание</td>
                    <td>{{ object.description }}</td>
                </tr>
                <tr>
                    <td>Дата создания</td>
                    <td>{{ object.date_creation }}</td>
                </tr>
                <tr>
                    <td>Количество просмотров</td>
                    <td>{{ object.count_views }}</td>
                </tr>
            </table>
        </div>
        <div class="card-body d-flex flex-column align-items-start">
            {% if object.user == user or object.is_superuser %}
            <a class="alert-danger" href="{% url 'blog:blog_update' object.pk %}">>>Изменить</a>
            <a class="alert-warning" href="{% url 'blog:blog_delete' object.pk %}">>>Удалить</a>
            {% endif %}
        </div>
        <div class="card-footer">
            <a href="{% url 'main:subscription_list' %}" class="btn btn-primary"><< Назад</a>
        </div>
    </div>
</div>

{% endblock %}