{% extends 'blog/base.html' %}
{% load mediapath %}
{% block content %}
<div class="container">
    <a href="{% url 'blog:blog_create' %}" class="btn btn-primary">Создать статью</a>
</div>
{% for object in object_list %}
<div class="col-lg-12">
    <div class="card flex-md-row mb-4 box-shadow h-md-250">
        <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 text-primary">{{ object.title }}</strong>
            <div class="mb-1 text-muted">{{ object.date_creation }}</div>
            <p class="card-text mb-auto">{{ object.description| truncatechars:100 }}</p>
            <ol class="list-group">Количество просмотров: {{ object.count_views }}</ol>
             <p class="card-text text-center">
                {% if user.is_authenticated %}
                    {% if object.is_paid or object.payment_amount > 0 %}
                        <form class="text-center" action="{% url 'main:create-checkout-session' slug=object.slug %}" method="post">
                            {% csrf_token %}
                        <input type="submit" class="btn btn-success" value="Купить подписку за {{ object.payment_amount }} $">
                        </form>
                    {% else %}
                    <button type="button" class="btn btn-success">
                        <a href="{% url 'main:subscription_create' object.slug %}" class="text-white">Подписаться бесплатно</a>
                    </button>
                    {% endif %}
                {% endif %}
            </p>
        </div>
        <img src="{% mediapath object.preview %}" style="max-width: 30%;" alt="Image">
    </div>
</div>
{% endfor %}
{% endblock %}