{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card text-center" style="width: 300px;">
            <div class="card-header h5 text-white bg-primary">Сброс пароля</div>
            <div class="card-body px-5">
                <form method="post" action="{% url 'users:password_reset' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.as_p }}
                        <button class="btn btn-primary w-100">Сбросить пароль</button>
                    </div>
                </form>
            </div>
            <div class="form-group text-center">
                <a class="btn btn-outline-dark" href="{% url 'users:profile' %}">Назад</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}