{% extends 'blog/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="card text-center" style="width: 300px;">
            <div class="card-header h5 text-white bg-primary">Новый пароль</div>
            <div class="card-body px-5">
                <form method="post">
                    {% csrf_token %}
                    <h1 class="h3 mb-3 fw-normal">Введите новый пароль</h1>
                    <div class="form-group text-center">
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    <div class="form-group text-center">
                        <a href="{% url 'users:profile' %}" class="btn btn-primary">« Назад</a>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}